* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header {
    width: 100%;
    height: 56px;
    display: flex;
}
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding: 0 20px;
}
.section-1 img {
    height: 24px;
}
header .section-1, .section-2, .section-3 {
    margin: auto 0;
}
.section-1 .youtube-logo {
    padding: 0 20px;
}
.section-2 {
    display: inline-flex;
}
.section-2 .search-bar {
    width: 536px;
    height: 40px;
    border: solid 1px #cccccc;
    border-radius: 20px 0 0 20px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
    color: #cccccc;
}
.section-2 .lupa {
    border: solid 1px #cccccc;
    border-left: none;
    width: 64px;
    border-radius: 0 40px 40px 0;
    background-color: #f8f8f8;
    display: flex;
}
.section-2 .lupa img {
    width: 20px;
    margin: auto;
}
.section-2 .microphone {
    width: 40px;
    background-color: #f8f8f8;
    display: flex;
    border-radius: 50%;
    border: solid 1px #cccccc;
    margin: 0 14px;
}
.section-2 .microphone img {
    height: 20px;
    margin: auto;
}
.section-3 {
    display: inline-flex;
}
.section-3 .upload {
    display: flex;
}
.section-3 .upload img {
    width: 20px;
    margin: auto 15px;
}
.section-3 .notification {
    display: flex;
}
.section-3 .notification img {
    width: 20px;
    margin: auto 15px;
}
.section-3 .profile {
    display: flex;
}
.section-3 .profile img {
    width: 32px;
    margin: auto 15px;
    border-radius: 50%;
}

/*Sidebar*/
.sidebar {
    width: 204px;
    padding: 10px;
}
.sidebar .main div {
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.sidebar .main div img {
    height: 20px;
    padding: 0 20px 0 10px;
}